<!-- Header -->
<div class="content-sec">
  <div class="container">
    <div class="left-bar">
      <div class="sec-bar">
        <p>
          Section:
          <i
            (click)="getStep1Data()"
            [ngClass]="!isStep1 && !isStep2  ? 'yellow' : ''"
            class="fa fa-home"
            aria-hidden="true"
          ></i>
          <i
            (click)="getStep1Data()"
            [ngClass]="isStep1 ? 'yellow' : ''"
            aria-hidden="true"
            >|</i
          >
          <i
            (click)="getStep2Data()"
            [ngClass]="isStep2 ? 'yellow' : ''"
            aria-hidden="true"
            >||</i
          >
        </p>
      </div>
      <div class="question-sec" *ngIf="i > 0">
        <img src="assets/arrow.png" />
        <p>Question:</p>
        <i
          (click)="nextPageData(k + 1)"
          [ngClass]="i == k + 1 ? 'yellow' : ''"
          *ngFor="
            let d of dataStep1 | slice: 1:dataStep1.length - 1;
            let k = index
          "
          >{{ k + 1 }}</i
        >

        <a (click)="prevData()" class="previous round">&#8249;</a>
        <a (click)="nextData()" class="next round">&#8250;</a>
      </div>
      <div class="text-bar">
        <h2>{{ stageData.stage_title }}</h2>
        <p class="scroll" [innerHTML]="stageData.stage_content"></p>
        <p>
          Click <b *ngIf="i > 0">Next </b> <b *ngIf="i == 0">Continue </b>to
          <b *ngIf="i > 0">Continue </b> <b *ngIf="i == 0">begin </b>.
        </p>
        <button class="btn btn-primary simulate-btn" (click)="nextData()" *ngIf="i > 0">
          <div class="simulate-initial">
            <img src="assets/GlobalImage/Next.png" />
          </div>
          <div class="simulate-hover">
            <img src="assets/GlobalImage/Next_Rollover.png" />
          </div>
        </button>
        <button class="btn btn-primary simulate-btn" (click)="nextData()" *ngIf="i == 0">
          <div class="simulate-initial">
            <img src="assets/GlobalImage/Continue.png" />
          </div>
          <div class="simulate-hover">
            <img src="assets/GlobalImage/Continue_Hover.png" />
          </div>
        </button>
      </div>
    </div>
    <div class="right-sec modeling" [ngClass]="i == 0 ? 'disbaled_div' : ''">
      <div class="tabing-sec" [ngClass]="!isShowButton ? 'disbaled_div' : ''">
        <div class="tab">
          <button
            class="tablinks active"
            (click)="isControl = true; isTable = false"
          >
            Controls
          </button>
          <button class="tablinks" (click)="isTable = true; isControl = false">
            Tables
          </button>
        </div>
        <div *ngIf="isControl">
          <div class="tabcontent">
            <div class="slidecontainer">
              <p><b>Tortoise:</b> head start in meters:</p>
              <div class="icon-sec">
                <img src="assets/tortoise.png" />
              </div>
              <input
                type="range"
                min="1"
                max="100"
                value="50"
                step=".1"
                class="slider"
                (change)="t1Change()"
                id="myRange"
                [(ngModel)]="T1"
              />
              <input
                min="1"
                max="100"
                step=".1"
                class="input-text"
                type="number"
                name="T1"
                id="T1"
                (change)="t1Change()"
                [(ngModel)]="T1"
              />
              <!-- <span id="f" style="font-weight: bold; color: red">{{ T1 }}</span> -->
            </div>
            <div class="slidecontainer">
              <p><b>Tortoise:</b> average speed in meters per second:</p>
              <div class="icon-sec">
                <img src="assets/tortoise.png" />
              </div>
              <input
                type="range"
                min="1"
                max="100"
                value="50"
                step=".1"
                class="slider"
                id="myRange"
                (change)="t1Change()"
                [(ngModel)]="T2"
              />
              <input
                min="1"
                max="100"
                step=".1"
                class="input-text"
                type="number"
                name="T2"
                id="T2"
                (change)="t1Change()"
                [(ngModel)]="T2"
              />
              <!-- <span id="f" style="font-weight: bold; color: red">{{ T2 }}</span> -->
            </div>
          </div>

          <div class="tabcontent">
            <div class="slidecontainer">
              <p><b>Hare:</b> average speed in meters per second:</p>
              <div class="icon-sec">
                <img src="assets/rabbit-shape.png" />
              </div>
              <input
                type="range"
                min="1"
                max="100"
                value="40"
                class="slider"
                step=".1"
                id="myRange"
                (change)="t1Change()"
                [(ngModel)]="H1"
              />
              <input
                min="1"
                max="100"
                step=".1"
                class="input-text"
                type="number"
                name="H1"
                id="H1"
                (change)="t1Change()"
                [(ngModel)]="H1"
              />
              <!-- <span id="f" style="font-weight: bold; color: red">{{ H1 }}</span> -->
            </div>
            <div class="checkbox-sec">
              <input type="checkbox" />
              <p>Show whether the hare oertakes the tortoise.</p>
            </div>
          </div>
        </div>
        <div *ngIf="isTable">
          <div class="tabcontent">
            <table class="table">
              <thead>
                <th style="background-color: #808080ba">t</th>
                <th style="background-color: #9dd9f2">D <sup>hare</sup></th>
                <th style="background-color: #ebabab">D <sup>tortoise</sup></th>
              </thead>
              <tbody>
                <tr>
                  <td colspan="3">
                    <div class="scrollit">
                      <table>
                        <tr *ngFor="let d of tTable">
                          <td colspan="3" style="background-color: #8080806e">
                            {{ d.tMin | number }}
                          </td>
                          <td colspan="3" style="background-color: #9dd9f2b0">
                            {{ d.tMax | number }}
                          </td>
                          <td colspan="3" style="background-color: #ebababa3">{{ d.tStep }}</td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
             
              </tbody>
            </table>
            <table class="table">
              <thead>
                <th>
                  <input
                    class="mainInput"
                    type="number"
                    name=""
                    id=""
                    [(ngModel)]="tMin"
                  /><span>t <sup>-Min</sup></span>
                </th>
                <th>
                  <input
                    class="mainInput"
                    type="number"
                    name=""
                    id=""
                    [(ngModel)]="tMax"
                  /><span>t <sup>-Max</sup></span>
                </th>
                <th>
                  <input
                    class="mainInput"
                    type="number"
                    name=""
                    id=""
                    [(ngModel)]="tStep"
                  /><span>t<sup>-Step</sup></span>
                </th>
              </thead>
            </table>
          </div>
        </div>
      </div>
      <div class="graph-sec">
        <div id="box" class="jxgbox" style="width: 300px; height: 300px"></div>
      </div>

      <div class="row race-sec">
        <button
          [hidden]="isReset"
          (click)="simulation()"
          class="btn btn-primary simulate-btn"
        >
          <div class="simulate-initial">
            <img src="assets/GlobalImage/Simulate.png" />
          </div>
          <div class="simulate-hover">
            <img src="assets/GlobalImage/Simulate_Hover.png" />
          </div>
        </button>
        <button [hidden]="!isReset" (click)="reset()" class="reset-btn">
          <div class="reset-initial">
            <img src="assets/GlobalImage/Reset.png" />
          </div>
          <div class="reset-hover">
            <img src="assets/GlobalImage/Reset_Hover.png" />
          </div>
        </button>
        <div class="tortoise-div">
          <div>
          <img class="tortoise" id="tortoise" [src]="torImgSrc" />
          <!-- <span class="tortoise_tooltip" id="tortoise_tooltip">
            <strong>{{torDistance}}</strong>
          </span> -->
        </div>
        <div class="hare-div">
          <img class="hare" id="hare" [src]="hareImgSrc" />
          <!-- <span class="tortoise_tooltip" id="hare_tooltip">
            <strong>{{hareDistance}}</strong>
          </span> -->
        </div>
      </div>
    </div>
  </div>
  <!-- <img src="assets/race-pic.jpg"/> -->
</div>
