<!-- Header -->
<div class="content-sec">
  <div class="container">
    <div class="left-bar">
      <div class="sec-bar">
        <p>Section:</p>
        <ul class="lst">
          <li>
            <a
              (click)="getStep1Data()"
              [ngClass]="
                !isStep1 && !isStep2
                  ? 'lst-icon lst-home active'
                  : 'lst-icon lst-home '
              "
              aria-hidden="true"
            ></a>
          </li>
          <li>
            <a
              (click)="getStep1Data()"
              [ngClass]="isStep1 ? 'lst-icon lst-i active' : 'lst-icon lst-i'"
              aria-hidden="true"
            ></a>
          </li>

          <li>
            <a
              (click)="getStep2Data()"
              [ngClass]="isStep2 ? 'lst-icon lst-ii active' : 'lst-icon lst-ii'"
              aria-hidden="true"
            ></a>
          </li>
        </ul>
      </div>
      <div class="question-sec" *ngIf="i > 0">
        <img class="qsImg" src="../../../assets/images/Question.PNG" />
        <ul class="lst">
          <li
            *ngFor="
              let d of dataStep1 | slice: 1:dataStep1.length - 1;
              let k = index
            "
          >
            <a
              (click)="nextPageData(k + 1)"
              [ngClass]="
                i == k + 1
                  ? 'change lst-icon lst-' + (k + 1) + '  active'
                  : 'change lst-icon lst-' + (k + 1)
              "
            ></a>
          </li>
        </ul>
        <div class="lst">
          <a (click)="prevData()" class="lst-icon lst-prev"></a>
          <a (click)="nextData()" class="lst-icon lst-next"></a>
        </div>
      </div>
      <div class="text-bar">
        <h2>{{ stageData.stage_title }}</h2>
        <p class="scroll" [innerHTML]="stageData.stage_content | safeHtml"></p>
        <p>
          Click <b *ngIf="i > 0">Next </b> <b *ngIf="i == 0">Continue </b>to
          <b *ngIf="i > 0">Continue </b> <b *ngIf="i == 0">begin </b>.
        </p>
        <button
          class="btn btn-primary simulate-btn"
          (click)="nextData()"
          *ngIf="i > 0"
        >
          <div class="simulate-initial">
            <img src="assets/GlobalImage/Next.png" />
          </div>
          <div class="simulate-hover">
            <img src="assets/GlobalImage/Next_Rollover.png" />
          </div>
        </button>
        <button
          class="btn btn-primary simulate-btn"
          (click)="nextData()"
          *ngIf="i == 0"
        >
          <div class="simulate-initial">
            <img src="assets/GlobalImage/Continue.png" />
          </div>
          <div class="simulate-hover">
            <img src="assets/GlobalImage/Continue_Hover.png" />
          </div>
        </button>
      </div>
    </div>
    <div class="right-sec modeling">
      <div class="tabing-sec">
        <div class="tabcontent">
          <p class="eq-label">y= {{ mData }} x + {{ bData }}</p>
          <div class="btnContainer">
            <button class="btn" [class.btn-active]="btnActive=='<='" title="Less than or Equal to" (click)="selectedbtn('<=')"><=</button>
            <button class="btn" [class.btn-active]="btnActive=='<'" title="Less than" (click)="selectedbtn('<')"><</button>
            <button class="btn" [class.btn-active]="btnActive=='='" title="Equal to" (click)="selectedbtn('=')">=</button>
            <button class="btn" [class.btn-active]="btnActive=='>'" title="Greater than" (click)="selectedbtn('>')">></button>
            <button class="btn" [class.btn-active]="btnActive=='>='" title="Greater than or Equal to" (click)="selectedbtn('>=')">>=</button>
          </div>
          <div class="slidecontainer">
            <p><b> m</b></p>

            <input
              type="range"
              min="-8"
              max="8"
              step="1"
              class="slider"
              id="myRange"
              [(ngModel)]="mData"
              (change)="t1Change()"
            />
            <input
              min="-8"
              max="8"
              step="1"
              class="input-text"
              type="number"
              name="T1"
              id="T1"
              [(ngModel)]="mData"
              (change)="t1Change()"
            />
            <!-- <span id="f" style="font-weight: bold; color: red">{{ T1 }}</span> -->
          </div>
          <div class="slidecontainer">
            <p><b>b</b></p>

            <input
              type="range"
              min="-8"
              max="8"
              step="1"
              class="slider"
              id="myRange"
              [(ngModel)]="bData"
              (change)="t1Change()"
            />
            <input
              min="-8"
              max="8"
              step="1"
              class="input-text"
              type="number"
              name="T1"
              id="T1"
              [(ngModel)]="bData"
              (change)="t1Change()"
            />
            <!-- <span id="f" style="font-weight: bold; color: red">{{ T2 }}</span> -->
          </div>
          <label class="label-control"><input type="checkbox" [(ngModel)]="showSolution">Show solution test</label>
          <p class="eq-label" *ngIf="showSolution"> y= {{ mData }} x + {{ bData }}</p>
          <div class="solutionContainer" *ngIf="showSolution">
            <p>0.00 {{btnActive}} {{ mData }}(0.00) + {{ bData }}</p>
            <p>0.00 {{btnActive}} {{ (mData * 0.00) + bData }}.00 <img *ngIf="condValid" style="width: 15px;" src="/assets/GlobalImage/tick.png" /><img style="width: 22px;" *ngIf="!condValid"src="/assets/GlobalImage/cross.png" /></p>
          </div>
        </div>
      </div>
      <div class="graph-sec">
        <div id="box" class="jxgbox" style="width: 300px; height: 300px"></div>
      </div>
    </div>
    <!-- <img src="assets/race-pic.jpg"/> -->
  </div>
</div>
