<!-- Header -->
<div class="content-sec">
  <div class="container">
    <div class="left-bar">
      <div class="sec-bar">
        <p>
          Section:
          <i
            (click)="getStep1Data()"
            [ngClass]="i == 0 ? 'yellow' : ''"
            class="fa fa-home"
            aria-hidden="true"
          ></i>
          <i
            (click)="getStep1Data()"
            [ngClass]="i == 1 ? 'yellow' : ''"
            aria-hidden="true"
            >|</i
          >
          <i
            (click)="getStep2Data()"
            [ngClass]="i == 2 ? 'yellow' : ''"
            aria-hidden="true"
            >||</i
          >
        </p>
      </div>
      <div class="question-sec">
        <img src="assets/arrow.png" />
        <p>Question:</p>
        <i
          (click)="nextPageData(k + 1)"
          [ngClass]="i == k + 1 ? 'yellow' : ''"
          *ngFor="
            let d of dataStep1 | slice: 1:dataStep1.length - 1;
            let k = index
          "
          >{{ k + 1 }}</i
        >

        <a (click)="prevData()" class="previous round">&#8249;</a>
        <a (click)="nextData()" class="next round">&#8250;</a>
      </div>
      <div class="text-bar">
        <h2>{{ stageData.stage_title }}</h2>
        <p class="scroll" [innerHTML]="stageData.stage_content"></p>
        <p>Click <b>Next </b>to continue.</p>
        <a (click)="nextData()">Next</a>
      </div>
    </div>
    <div class="right-sec modeling">
      <div class="tabing-sec">
        <div class="tabcontent">
          <p class="eq-label">y= {{ mData }} x + {{ bData }}</p>
          <div class="btnContainer">
            <button class="btn" [class.btn-active]="btnActive=='<='" title="Less than or Equal to" (click)="selectedbtn('<=')"><=</button>
            <button class="btn" [class.btn-active]="btnActive=='<'" title="Less than" (click)="selectedbtn('<')"><</button>
            <button class="btn" [class.btn-active]="btnActive=='='" title="Equal to" (click)="selectedbtn('=')">=</button>
            <button class="btn" [class.btn-active]="btnActive=='>'" title="Greater than" (click)="selectedbtn('>')">></button>
            <button class="btn" [class.btn-active]="btnActive=='>='" title="Greater than or Equal to" (click)="selectedbtn('>=')">>=</button>
          </div>
          <div class="slidecontainer">
            <p><b> m</b></p>

            <input
              type="range"
              min="-8"
              max="8"
              step="1"
              class="slider"
              id="myRange"
              [(ngModel)]="mData"
              (change)="t1Change()"
            />
            <input
              min="-8"
              max="8"
              step="1"
              class="input-text"
              type="number"
              name="T1"
              id="T1"
              [(ngModel)]="mData"
              (change)="t1Change()"
            />
            <!-- <span id="f" style="font-weight: bold; color: red">{{ T1 }}</span> -->
          </div>
          <div class="slidecontainer">
            <p><b>b</b></p>

            <input
              type="range"
              min="-8"
              max="8"
              step="1"
              class="slider"
              id="myRange"
              [(ngModel)]="bData"
              (change)="t1Change()"
            />
            <input
              min="-8"
              max="8"
              step="1"
              class="input-text"
              type="number"
              name="T1"
              id="T1"
              [(ngModel)]="bData"
              (change)="t1Change()"
            />
            <!-- <span id="f" style="font-weight: bold; color: red">{{ T2 }}</span> -->
          </div>
          <label class="label-control"><input type="checkbox" [(ngModel)]="showSolution">Show solution test</label>
          <p class="eq-label" *ngIf="showSolution"> y= {{ mData }} x + {{ bData }}</p>
          <div class="solutionContainer" *ngIf="showSolution">
            <p>0.00 {{btnActive}} {{ mData }}(0.00) + {{ bData }}</p>
            <p>0.00 {{btnActive}} {{ (mData * 0.00) + bData }}.00 <img *ngIf="condValid" style="width: 15px;" src="/assets/GlobalImage/tick.png" /><img style="width: 22px;" *ngIf="!condValid"src="/assets/GlobalImage/cross.png" /></p>
          </div>
        </div>
      </div>
      <div class="graph-sec">
        <div id="box" class="jxgbox" style="width: 300px; height: 300px"></div>
      </div>
    </div>
    <!-- <img src="assets/race-pic.jpg"/> -->
  </div>
</div>
