<header class="siteHeader">
    <div class="container">
      <div class="upper-header">
        <div class="logo-sec">
          <a href="#"><img src="assets/logo.png" /></a>
        </div>
        <div class="navbar">
          <ul>
            <li>
              <a href="#"><img src="assets/megaphone.png" /></a>
            </li>
            <li>
              <a href="#"><img src="assets/megaphone.png" /></a>
            </li>
            <li>
              <a href="#"><img src="assets/megaphone.png" /></a>
            </li>
            <li>
              <a href="#"><img src="assets/megaphone.png" /></a>
            </li>
            <li>
              <a href="#"><img src="assets/megaphone.png" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
